# Unity folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
build.app/
build_BackUpThisFolder_ButDontShipItWithYourGame/
# Logs
[Ll]ogs/
# OS files
.DS_Store
Thumbs.db
# Visual Studio
.vs/
*.suo
*.user
